html{
    height: 100%;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

p{
    color: black;
    font-family: "microsoft yahei";
    font-weight: bold;
    left: -10px;
    
}

body{
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "microsoft yahei";
    background-color: white ;
    overflow: hidden;
}
 .container{
     margin:auto;
     width: 452px;
     height: 100%;
     overflow: hidden;
     position: relative;
 }
 
 .logo{
     width:40%;
     font-size: 70px;
     font-weight: bold;
     color: #d13100;
     float: left;
     position: relative;
 }
 .scoreBar{
     width: 50%;
     float:right;
     background: #fff;
     color: #111;

     padding:10px;
     position: relative;
     margin-top:10px;
 }
.scoreBar:before{
    content: "";
    display: block;
    border-width: 20px;
    border-color: transparent #fff transparent transparent ;
    border-style: solid;
    position: absolute;
    top:50%;
    left:-40px;
    margin-top:-20px;
}
 #score{
     font-size: 50px;
 }
 
 #addScore{
     position: absolute;
     bottom: 0px;
     font-size: 30px;
     color:#999;
     opacity: .8;
     top:4px;
     right: 0;
 }
#addScore.show{
    opacity: .8;
    transition:all .5s ease;   -ms-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; -webkit-transition:all .5s ease; 

}
#addScore.hide{
    opacity: 0;
    transition:all .5s ease;   -ms-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; -webkit-transition:all .5s ease; 
}

#stage{
    background: #01bfae;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    position: absolute;
    width: 450px;
    height: 450px;
    top:50%;
    left:0;
    margin-top: -200px;
    border: 1px solid #eee;
    z-index: 1;
}

#undo{
    position: relative;
    z-index: 990;
}

.cover{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0.1;
    cursor: pointer;
}

.row0{
    top:10px;
}
.row1{
    top:120px;
}
.row2{
    top:230px;
}
.row3{
    top:340px;
}

.cell0{
    left:10px;
}
.cell1{
    left:120px;
}
.cell2{
    left:230px;
}
.cell3{
    left:340px;
}

.grid {
    transition:all .2s ease;
    -ms-transition:all .2s ease;
    -moz-transition:all .2s ease;
    -o-transition:all .2s ease;
    -webkit-transition:all .2s ease; 
}

div{
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.num {
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    text-align: center;
    line-height: 94px;
    cursor: pointer;
    background: #fff;
    font-size: 43px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    animation: myfirst .5s;
    -moz-animation: myfirst .5s;	/* Firefox */
    -webkit-animation: myfirst .5s;	/* Safari or Chrome or opera */
    transition:all .2s ease;
    -ms-transition:all .2s ease;
    -moz-transition:all .2s ease;
    -o-transition:all .2s ease;
    -webkit-transition:all .2s ease;
    border-radius: 10px;
    font-size: 60px;
    font-family: sans-serif;
    box-shadow: 0 -6px 0 rgba(0, 0, 0, 0.25) inset;
}

.num16, .num32, .num64 {
    font-size: 60px;
}

.num128, .num256, .num512 {
    font-size: 40px;
}

.num1024, .num2048, .num4096 {
    font-size: 34px;
}

.num2{
    background: #EDE4DA;
    color: #776E64;
}

.num4{
    background: #ECDFC7;
    color: #776E64;
}

.num8{
    background: #F2B179;
    color:#F9F6F2;
}

.num16{
    background: #F59563;
    color:#F9F6F2;
}

.num32{
    background: #F67C5F;
    color: #F9F6F2;
}

.num64{
    background: #F65E3B;
    color:#F9F6F2;
}

.num128{
    background: #ECCE72;
    color: #F9F6F2;
}

.num256{
    background: #ECCD50;
    color:#F9F6F2;
}

.num512{
    background: #ECC750;
    color: #F9F6F2;
}

.num1024{
    background: #ECC440;
    color: #F9F6F2;
}

.num2048{
    background: #EDC22E;
    color: #F9F6F2;
}

.num4096{
    background: #5DA0DE;
    color: #F9F6F2;
}

@keyframes myfirst
{
    0%{opacity: 0;transform:scale(0)}
    50% {opacity: .5;transform:scale(1.2)}
    100%{opacity: 1;transform:scale(1)}
}

@-moz-keyframes myfirst /* Firefox */
{
    0%{opacity: 0;-moz-transform:scale(0)}
    50% {opacity: .5;-moz-transform:scale(1.2)}
    100%{opacity: 1;-moz-transform:scale(1)}
}
@-webkit-keyframes myfirst /* Safari or Chrome */
{
    0%{opacity: 0;-webkit-transform:scale(0)}
    50% {opacity: .5;-webkit-transform:scale(1.2)}
    100%{opacity: 1;-webkit-transform:scale(1)}
}
